# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lukas\OneDrive\Unterlagen\5. Semester\Teamprojekt\Github\bl-predictor\.idea
# Editor-based HTTP Client requests
/httpRequests/
